html, body{
  margin: 0px;
  padding: 0px;
}
body{
  font-family: 'Arimo', sans-serif;
  user-select: none;
  background-color: #000;
}
div{
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}
/* multiple use css */
.tripleRow{
  display: grid;
  grid-template-columns: 33.3% 33.3% auto;
  cursor: pointer;
}
/* notification bar on the top */
.notifBar{
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px white;
  font-size: 14px;

  padding: 1px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  
  background: linear-gradient(to bottom,#edf5f7, #bdc5c9);

  border-top: 1px solid #eef5f8;
  border-bottom: 1px solid #5c6368;
}
/* place to input the numbers into */
.numInput{
  text-align: center;
  font-size: 42px;
  color: white;

  height: 43px;

  padding: 15px;

  background: linear-gradient(to bottom, #6a7d97 0%, #264268 50%, #102e58 50%, #0b2a55 100%);

  border-bottom: 1px solid #051123;

  text-shadow: 0 -1.5px #0008;

  user-select: text;
}
/* numpad */
.numpad{
  text-align: center;

  border-top: 1px solid #787d82;

  font-family: sans-serif;
}
.numRow > div{
  font-weight: bold;

  background: linear-gradient(to bottom,#1c232d, #0e1520);

  display: inline-block;

  border-top: 1px solid #464c55;
  border-left: 1px solid #464c55;
  border-right: 1px solid #080c12;

  padding: 5px;
}
.numRow:first-of-type > div{
  border-top: 1px solid #1f2630;
}
.numRow > div > div:last-child{
  color: #878b90;
}
.numRow > div > div:first-child{
  font-size: 32px;
  color: white;
}
/* bottom row of the numbar */
.lastRow{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.lastRow > div{
  padding-top: 14px;
  padding-bottom: 15px;
}
.keybutton{
  background: linear-gradient(to bottom, #213148 0%, #0a1d35 50%, #051831 50%, #051831 100%);

  border-top: 1px solid #4d5a6d;
  border-bottom: 1px solid #1e3046;
}
.callbutton{
  background: linear-gradient(to bottom, #9fd09b 0%, #40b33c 50%, #21a11a 50%, #27aa1e 100%);

  border-top: 1px solid #cde3cc;
  border-bottom: 1px solid #11530e;
}
.calltext{
  text-shadow: 0 -1.5px #0008;

  display: inline-block;
}
.callicon{
  display: inline-block;
}
.backspace{
  display: flex;
  justify-content: center;
}
.backspace > img{
  margin-top: auto;
  margin-bottom: auto;
}
/* click effect */
.tripleRow > div:active{
  background: #0835f2;

  border-top: 1px solid #3b5ff5;
  border-left: 1px solid #3b5ff5;
}
.tripleRow > div:active > div:first-child{
  text-shadow: 2px 2px 5px black;
}
#callLink{
  display: none;
}